<aside class="col-sm-3 ml-sm-auto blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>
        <b>Bengali Document Summarizer</b> is my Bsc final year thesis research work.
    </p>
  </div>
  <div class="sidebar-module">
    <h4>Developer</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com/porimol/" target="_blank">GitHub</a></li>
      <li><a href="http://twitter.com/porimolchandro" target="_blank">Twitter</a></li>
      <li><a href="https://facebook.com/porimol.chandro" target="_blank">Facebook</a></li>
    </ol>
  </div>
</aside><!-- /.blog-sidebar -->