{% extends "layout.html" %}
{% block body %}

    <div class="blog-post">
        <form action="/" method="POST">
            <div class="form-group">
                <label for="bengali_document">Input Document</label>
                <textarea
                        class="form-control"
                        id="bengali_document"
                        name="bengali_document"
                        rows="10"
                        placeholder="সন্ধ্যা নামতেই ঘরে আলো জ্বালাতে হয় আয়েশা বেগমের। আছে বাড়ির প্রাত্যহিক কাজকর্ম; আবার ছেলেমেয়ের পড়াশোনা। এ ক্ষেত্রে ভরসা ছিল কেবল কেরোসিনের কুপিবাতি কিংবা হারিকেন। কারণ, এ তল্লাটে কোনো বিদ্যুৎ ছিল না...">{% if summary_response %}{{ summary_response['original_document'] }}{% endif %}</textarea>
                <small id="bengali_document_help" class="form-text text-muted">Please past only bengali document in the textarea</small>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="summary_frequency">Frequency</label>-->
                <!--<input type="number" class="form-control" id="summary_frequency" aria-describedby="summary_frequency_help" value="{% if summary_response %}{{ summary_response['summary_frequency'] }}{% else %}10{% endif %}" name="summary_frequency">-->
                <!--<small id="summary_frequency_help" class="form-text text-muted">Default frequency 10</small>-->
            <!--</div>-->
            <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Check me out for download!
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Summery Generate</button>
            <hr/>
        </form>
    </div>

    {% if summary_response %}
    <div class="blog-post">
        <div class="form-group">
            <label for="summery">Summarized Document</label>
            <textarea class="form-control" id="summery" rows="15">{{ summary_response['summery'] }}</textarea>
        </div>
    </div>
    {% endif %}

{% endblock %}